.maind{
    width: 100%;
    margin: auto;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 85vh;
    background-image: url("../../images/rdg.png");
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.8);


}
.maind p{
    text-align: left;
    color: #905744;
    font-size: 50px;
    padding: 0;
    margin: 0 auto;
}

.rdgl{
    margin: 0 auto;
    width:90%;
}