.header{
    display:flex;
    width:100%;
    height:100vh;
    margin:auto;
    justify-content:space-between;
    background-image: url("../../images/rdg.png");
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.9);
    color:white;
}

.header a{
    color: white;
    height: 110px;
    line-height: 110px;
}

.header h1{
    margin:auto;
}


.navegador{
    width:30%;
    margin:auto;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    vertical-align: middle;

}

.header img{
    height:110px;
    width:110px;
    margin: 0 10px;
  }
.logoyname{
    display: flex;
}
