.footer{
    background-color: rgba(0, 0, 0, 1);
    height: 10vh;
    color: white;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.reds{
    display: flex;
    justify-content: center;
    align-items: center;
}
.reds a{
    margin: auto;
    text-decoration: none;
    padding: 20px;
}
.reed{
    height: 30px;
    background-color: white;
    border-radius: 20px;
}
.reed:hover{
    background-color: green;
    border-radius: 20px;
}