.contacto{
    height: 110vh;
    color: white;
}
.formularioCont{
    margin: auto;
    margin-top: 200px;
    width: 50%;
    border: 1px solid green;
    height: 50%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.formularioCont p{
    margin: 10px 10%;
    text-align: justify;
}
.redes a{
    margin: auto;
    text-decoration: none;
    padding: 20px;
}
.red{
    height: 50px;
    background-color: white;
    border-radius: 20px;
}
.red:hover{
    height: 50px;
    background-color: green;
    border-radius: 20px;
}
